@import './components/button.css';

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}