.header-main {
  min-height: 300px;
  color: #fff;
  padding: 1.5rem;
  position: relative;
  z-index: 1;
  text-align: center;
  object-fit: cover;
  background-position: center;
  background-image: url('../../assets/images/amazon-forest.jpg');
}

.header-main::before {
  content: '';
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  width: 100%;
  z-index: -1;
  position: absolute;
}

.header-main nav {
  display: flex;
  padding: 0 1rem;
  border-radius: 6px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 3rem;
}

.header-main ul {
  gap: 1rem;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  margin-right: 1rem;
  justify-content: center;
}

.header-main ul a {
  font-weight: 500;
}

.header-main h1 {
  font-size: 36px;
  margin-bottom: 1rem;
}

.header-main p {
  font-size: 18px;
  max-width: 55ch;
  margin: 0 auto 2rem auto;
  line-height: 1.2;
}