@import '../global.css';
@import '../components/header.css';

/* quem somos */
.about-us .about-us-legend {
  background: #eee;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

.about-us-legend h1 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.about-us-content>p {
  text-align: center;
  font-weight: 600;
  margin-bottom: 2rem;
}

.about-us-grid {
  display: grid;
  gap: 1.5rem;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.about-us-grid p {
  font-weight: 400;
  line-height: 1.6;
  max-width: 50ch;
  text-transform: uppercase;
}

.about-us-grid img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .about-us-grid {
    grid-template-columns: 1fr;
  }

  .about-us-grid p {
    max-width: initial;
  }
}

/* fique por dentro */

.title-section {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.stay-inside-container {
  display: flex;
  gap: 3rem;
}

.stay-inside-item header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.stay-inside-item {
  flex: 1;
}

.stay-inside-item header h2 {
  font-size: 18px;
  font-weight: 500;
  color: #5DC87A;
}

.stay-inside-item header p {
  COLOR: #616161;
  font-size: 14px;
  background: #EEEEEE;
  padding: 0 4px;
  font-weight: 600;
  border-radius: 2px;
}

.stay-inside-item img {
  margin-bottom: 6px;
  height: 140px;
  width: 100%;
  object-fit: cover;
}

.stay-inside-card+.stay-inside-card {
  margin-top: 1.5rem;
}

.stay-inside-card-title {
  font-weight: 600;
  font-size: 16px;
}

.stay-inside-card-date {
  font-size: 12px;
  color: #9E9E9E;
  font-weight: 300;
}

.stay-inside-card-description {
  color: #616161;
  font-size: 14px;
}

.stay-inside-empty {
  background-color: #EEEEEE;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stay-inside-empty p {
  font-size: 20px;
  color: #424242;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 1000px) {
  .stay-inside-container {
    gap: 1.5rem;
    flex-wrap: wrap;
  }

  .stay-inside-item {
    min-width: 260px;
  }
}

.main-features-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}

.main-feature-card {
  padding: 2rem 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-direction: column;
}

.main-feature-card p {
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.main-feature-card:nth-child(1) {
  background-color: #5cc879;
}

.main-feature-card:nth-child(2) {
  background-color: #54b56f;
}


.main-feature-card:nth-child(3) {
  background-color: #51ac69;
}

.main-feature-card:nth-child(4) {
  background-color: #4da264;
}

@media (max-width: 800px) {
  .main-features-container {
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width: 500px) {
  .main-features-container {
    grid-template-columns: 1fr;
  }
}

.care-amazon {
  background-color: #5cc879;
  background-position: bottom;
  object-fit: cover;
  min-height: 11.875rem;
  background-image: url("../../assets/images/amazon-forest-2.avif");
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.care-amazon::before {
  content: "";
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  z-index: -1;
}

.care-amazon p {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  max-width: 35ch;
  line-height: 1.5;
}